<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.supernovaapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperNovaApp"
        tools:targetApi="31">
        <!-- Splash is the launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".CreateAccount"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfilePage"/>
        <activity android:name=".GameView1"/>
        <activity android:name=".GameView2"/>
        <activity android:name=".GameView3"/>
        <activity android:name=".GameView4"/>
        <activity android:name=".GameView5"/>
        <activity android:name=".GameView6"/>
        <activity android:name=".GameView7"/>

    </application>

</manifest>